body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:615px;
}
#u103 {
  position:absolute;
  left:12px;
  top:18px;
  width:1123px;
  height:615px;
}
#u104 {
  position:absolute;
  left:2px;
  top:300px;
  width:1119px;
  visibility:hidden;
  word-wrap:break-word;
}
